<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluslatestmemes">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainIssues.Upload"
            android:label="New Meme"></activity>
        <activity
            android:name=".MainIssues.ActivitiesFromMenu.MemeGenerator"
            android:label="Meme Generator" />
        <activity
            android:name=".MainIssues.ActivitiesFromMenu.Account"
            android:label="Profile" />
        <activity
            android:name=".MainIssues.MainPanel"
            android:theme="@style/AppThemeSecond">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appid" />
        <activity
            android:name=".ProfileSettings"
            android:label="Profile Settings" />
        <activity
            android:name=".VerificationCode"
            android:label="Verification" />
        <activity android:name=".MainIssues.ZoomingImage"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeSecond">
        </activity>
    </application>

</manifest>